@model IEnumerable<PRN231_Group7.Assignment2.UI.Models.Book.BookModel>

@{
    int totalPages = ViewBag.TotalPages;
    int pageIndex = ViewBag.PageIndex;
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Book Store</title>
    <link rel="stylesheet" href="css/site.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5">
        <form method="get" action="@Url.Action("Index", "Books")" class="my-5 book-search-form">
            <label for="searchBy" class="label">Search by:</label>
            <div class="row mt-2">
                <div class="form-group col-md-2 custom-select-container">
                    <div class="select-with-icon">
                        <select class="form-control" id="searchBy" name="searchBy">
                            <option value="Title">Title</option>
                            <option value="Publisher">Publisher</option>
                        </select>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="12" height="12">
                            <path d="M6 8.825c-.2 0-.4-.1-.5-.2l-3.3-3.3c-.3-.3-.3-.8 0-1.1.3-.3.8-.3 1.1 0l2.7 2.7 2.7-2.7c.3-.3.8-.3 1.1 0 .3.3.3.8 0 1.1l-3.2 3.2c-.2.2-.4.3-.6.3Z"></path>
                        </svg>
                    </div>
                </div>
                <div class="form-group col-md-5">
                    <input type="text" class="form-control" id="searchValue" name="searchValue" placeholder="Enter search term..." value="@ViewBag.SearchValue">
                </div>
                <div class="form-group col-md-5 p-0">
                    <input type="submit" class="btn btn-secondary" value="Search" />
                </div>
            </div>

            <div class="row mt-2">
                <div class="form-group col-md-4">
                    <label for="minPrice">Min Price</label>
                    <input type="number" class="form-control" id="minPrice" name="minPrice" min="0" step="0.01" value="@ViewBag.MinPrice">
                </div>
                <div class="form-group col-md-4">
                    <label for="maxPrice">Max Price</label>
                    <input type="number" class="form-control" id="maxPrice" name="maxPrice" min="0" step="0.01" value="@ViewBag.MaxPrice">
                </div>
              
            </div>
        </form>


        <div class="d-flex flex-wrap gap-5 justify-content-center">
            @if (ViewBag.UserRole != "Admin")
            {
                @foreach (var book in Model)
                {
                    <div class="form-group col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <h3 class="card-title">@book.Title</h3>
                                <p class="card-text">Type: @book.Type</p>
                                <p class="card-text">Price: $@book.Price</p>
                                <p class="card-text">Publisher: @(string.IsNullOrEmpty(book.Publisher.PublisherName) ? "NA" : book.Publisher.PublisherName)</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">Date of publisher: @book.PublishedDate</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        

        


        @if (ViewBag.UserRole == "Admin")
        {
            <div class="d-flex justify-content-start mt-5 mb-3">
                <a class="btn btn-secondary" asp-controller="Books" asp-action="Create">Add Book</a>
            </div>


            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Price</th>
                        <th>Advance</th>
                        <th>Royalty</th>
                        <th>YTD Sales</th>
                        <th>Published Date</th>
                        <th>Publisher</th>
                        <th>Notes</th>
                        @if (ViewBag.UserRole == "Admin")
                        {
                            <th></th>
                            <th></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var book in Model)
                    {
                        <tr>
                            <td class="truncated-id" style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" onclick="toggleIdDisplay(this)">@book.Id</td>
                            <td class="truncated-id" style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" onclick="toggleIdDisplay(this)">@book.Title</td>
                            <td class="truncated-id" style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" onclick="toggleIdDisplay(this)">@book.Type</td>
                            <td class="truncated-id" onclick="toggleIdDisplay(this)">$@book.Price</td>
                            @if (book.Advance.HasValue)
                            {
                                <td class="truncated-id" onclick="toggleIdDisplay(this)">
                                    $@book.Advance
                                </td>
                            }
                            else
                            {
                                <td class="truncated-id" onclick="toggleIdDisplay(this)">
                                </td>
                            }
                            <td class="truncated-id" onclick="toggleIdDisplay(this)">@book.Royalty</td>
                            <td class="truncated-id" onclick="toggleIdDisplay(this)">@book.YtdSales</td>
                            <td class="truncated-id" onclick="toggleIdDisplay(this)">@book.PublishedDate.ToString("dd-MM-yyyy HH:mm:ss")</td>
                            <td class="truncated-id" onclick="toggleIdDisplay(this)">@book.Publisher.PublisherName</td>
                            <td class="truncated-id" style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" onclick="toggleIdDisplay(this)">@book.Notes</td>

                            @if (ViewBag.UserRole == "Admin")
                            {
                                <td>
                                    <a asp-controller="Books" asp-action="Update" asp-route-id="@book.Id"
                                    class="btn btn-secondary">Update</a>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" onclick="openDeleteModal('@book.Id')">Delete</button>
                                </td>
                            }
                        </tr>
                    }


                    <tr>
                        <td colspan="8">
                            <div class="pagination-horizontal">
                                @if (totalPages > 1)
                                {
                                    @for (int i = 1; i <= totalPages; i++)
                                    {
                                        if (i == pageIndex)
                                        {
                                            <span>@i</span>
                                        }
                                        else
                                        {
                                            <a class="pagination-link" asp-controller="Books" asp-action="Index" asp-route-pageIndex="@i">@i</a>
                                        }

                                        if (i < totalPages)
                                        {
                                            <span>|</span>
                                        }
                                    }
                                }

                                @if (totalPages > 5)
                                {
                                    <span>...</span>
                                    <a class="pagination-link" asp-controller="Books" asp-action="Index" asp-route-pageIndex="@(totalPages - 1)">@totalPages - 1</a>
                                    <a class="pagination-link" asp-controller="Books" asp-action="Index" asp-route-pageIndex="@totalPages">@totalPages</a>
                                }
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this book?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <form id="deleteForm" method="post">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <script>
        function toggleIdDisplay(cell) {
            if (cell.classList.contains('truncated')) {
                cell.classList.remove('truncated');
                cell.style.maxWidth = '';
            } else {
                cell.classList.add('truncated');
                cell.style.maxWidth = '100px';
            }
        }

        function openDeleteModal(userId) {
            var userRole = '@ViewBag.UserRole';

            if (userRole === 'Admin') {
                var form = document.getElementById('deleteForm');
                form.action = '@Url.Action("Delete", "Books")/' + userId;
                $('#deleteModal').modal('show');
            } else {
            }
        }
    </script>
</body>
</html>

